@model IEnumerable<Category>

@{
    ViewData["Title"] = "Categories";
}

<h2>@NotesApp.Resources.Resource.Categories</h2>

<a asp-action="Create" class="btn btn-primary">@NotesApp.Resources.Resource.Create_New_Category</a>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Name</th>
            <th class="text-end">@NotesApp.Resources.Resource.Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Name</td>
                <td class="text-end">
                    <a asp-action="Edit" asp-route-id="@category.Id" class="btn btn-warning btn-sm">@NotesApp.Resources.Resource.Edit</a>
                    <a asp-action="Delete" asp-route-id="@category.Id" class="btn btn-danger btn-sm" onclick="return confirmDelete()">@NotesApp.Resources.Resource.Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    function confirmDelete() {
        return confirm("@Html.Raw(NotesApp.Resources.Resource.Are_you_sure_you_want_to_delete_this_category_)");
    }
</script>
